#table {
    margin-top: 200px;
}

.card {
    width: 220px;
    height: 115px;
    flex: auto;
}

p {
    font-size: small;
}

h4 {
    font-size: medium;
    font-weight: bolder;
    text-decoration-line: underline;
}
 #inputForm {
    margin-top: 350px;
 }

 #delete {
    justify-content: center;
    flex:auto;
 }

 .column {
    float: left;
    width: 33.33%;
 }

 .grid-container {
    display: grid;
    column-gap: 25px;
 }